*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
}
.cabecalho{
    background-color: black;
    display: flex;
}
.cabecalho h1{
    color: green;
    margin-left: 750px;
    margin-top: 50px;
    
}
.cabecalho img{
    width: 120px;
    height: 140px;
    margin-left: 20px;
}
.titulo{
    color: white;
}
.musicas {
    background-color: rgb(43, 42, 42);
    color: white;
    margin-left: 500px;
    margin-top: 20px;
}